<h1>Freelance tracker</h1>
<div id="page">
	<div id="content">
	&nbsp;&nbsp;Это инструмент для фрилансера и работодателя. Позволяет представить работу над проектом в виде структурированных, логически связанных временных трэков и фиксировать время их выполнения.<br>
	&nbsp;&nbsp;Трэки могут иметь до 10 уровней вложенности, например: проект - задача - пункт - подпункт  и т. д. Избран последовательный подход - т.е. началом времени отсчета является время создания трэка. Новые вложенные задачи гибко создаются уже в ходе работы над тем или иным проектом. При завершении трэка происходит автоматический пересчет затрат времени по древу проекта. 
	<br>&nbsp;&nbsp;Для работы необходимо залогиниться.
  </div> 
</div>
<br><div id="link"><a href="/tracks">Go in</a></div>
