<h1>Freelance tracker</h1>
<div id="page">
	<div id="content">
	&nbsp;&nbsp;Это инструмент для фрилансера и работодателя. Позволяет представить работу над проектом в виде структурированных, логически связанных временных трэков и фиксировать время их выполнения.<br>
	&nbsp;&nbsp;Трэки могут иметь до 10 уровней вложенности, например: проект - задача - пункт - подпункт  и т. д. Новые вложенные задачи можно гибко создавать уже в ходе работы над тем или иным проектом. При завершении трэка происходит автоматический пересчет затрат времени по древу проекта.
	<br>&nbsp;&nbsp;Для работы необходимо залогиниться, как фрилансер, или как работодатель. Фрилансеру предоставлены права создания структуры проекта и фиксации временных отрезков. Работодатель имеет право только на просмотр.
  </div> 
</div>
<br><div id="link"><a href="/tracks">Go in</a></div>
